+++
title = " 云原生社区 Envoy SIG"
+++

{{< blocks/cover title="欢迎来到 Envoy SIG" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		博客 <i class="fas fa-blog ml-2 "></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/community" >}}">
		社区 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Envoy SIG 是由云原生社区主办的 Envoy 学习小组，致力于 Envoy 的推广和学习</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="bright" >}}

{{% blocks/feature icon="fab fa-github" title="欢迎贡献!"%}}
<div style="text-align: left;">
有关于 Envoy 的问题，欢迎提交 <a href="https://github.com/cloudnativeto/sig-envoy/issues/new">issue</a>，一起参与 Envoy 技术分享学习。<br>
包括但不限于以下内容，也希望大家多交流贡献。<br>
1. Envoy 上手实践<br>
2. Envoy 源码分析<br>
3. Envoy 相关外文翻译<br>
4. Envoy 技术交流分享<br>
5. Envoy 文档翻译
</div>

{{% /blocks/feature %}}

{{% blocks/feature  icon="fab" %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-weixin" title="申请加入 Envoy SIG"  %}}
请先扫描下面的二维码（备注姓名-公司）加入云原生社区并填写[申请表](https://wj.qq.com/s2/7279251/7934)。

<img width="128px" src="images/wechat.jpg">
{{% /blocks/feature %}}


{{< /blocks/section >}}
