+++
title = "Envoy中文社区"
+++

{{< blocks/cover title="欢迎来到Envoy中文社区" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		文档 <i class="fas fa-file-word ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		博客 <i class="fas fa-blog ml-2 "></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/community" >}}">
		社区 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">致力于Envoy在中国的分享和学习</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="欢迎留言!" url="https://github.com/envoyproxy-cn/envoyproxy-cn.io/issues/new" %}}
欢迎大家留言[Issues](https://github.com/envoyproxy-cn/envoyproxy-cn.io/issues/new)。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="欢迎贡献!" url="https://github.com/envoyproxy-cn/envoyproxy-cn.io/pulls" %}}
欢迎大家提交[Pull Request](https://github.com/envoyproxy-cn/envoyproxy-cn.io/pulls)，一起参与Envoy中文社区共建。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Slack交流分享!" url="https://envoyproxy.slack.com/archives/C018HMZH37F" %}}
欢迎通过微信或者slack进行交流分享
{{% /blocks/feature %}}


{{< /blocks/section >}}